{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Liste des véhicules</h1>

        <table id="vehicle-table" class="table table-striped table-bordered mt-3">
            <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Date de registration</th>
                <th>Numéro de registration</th>
                <th>Propriétaire</th>
                <th>Caractéristiques</th> <!-- Nouvelle colonne pour les caractéristiques -->
            </tr>
            </thead>
            <tbody>
            {% for vehicle in vehicules %}
                <tr>
                    <td>{{ vehicle.brand }}</td>
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.registrationDate|date('Y-m-d') }}</td>
                    <td>{{ vehicle.registrationNumber }}</td>
                    <td>{{ vehicle.owner.nameOwner }}</td>
                    <td>
                        <ul>
                            {% for characteristic in vehicle.characteristics %}
                                <li>{{ characteristic.name }}: {{ characteristic.value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <script>
        $(document).ready( function () {
            $('#vehicle-table').DataTable();
        } );
    </script>
{% endblock %}